* {
	color: white;
}

.BtnBack {
	height: fit-content;
	margin: 1rem;
	width: 100px;
	color: #3b3939;
	background-color: white;
	border: none;
}

.ContainerDetails {
	display: flex;
	justify-content: center;
	padding: 2rem 5rem;
	.ContainerDetailChar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.ComicDetails {
			padding: 1rem;
			display: flex;
			align-items: center;
			height: auto;
			font-size: x-large;
			text-align: justify;
			color: white;
		}
		h2 {
			text-align: center;
			margin-top: 2rem;
			background: white;
			color: #3b3939;
			margin: 1rem;
		}
	}
	.ContainerChar {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.Char {
			padding: 1rem;
			display: flex;
			width: fit-content;
			height: auto;
			.charimg {
				width: 100px;
			}
		}
	}
}

@media (max-width: 500px) {
	.ContainerDetails {
		display: flex;
		flex-direction: column;
		padding: 2rem 2rem;
	}
	.ComicDetails {
		justify-content: center;
		margin-top: 1rem;
	}
	.imageDetail {
		height: 420px;
	}
}
