.ContainerAllCards {
	background-color: #3b3939;
	height: 100vh;
}

.Container_All_Cards {
	height: 100vh;
	display: flex;
	align-items: center;
}

.Containerh1 {
	border: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
h1 {
	color: black;
}

.BtnBack {
	font-size: large;
	border: solid black;
}
